
.food-main {
    height: auto;
    display: flex;
    padding-bottom: 5em;
}

.food-section {
  color: white;
  display: flex;
  align-items: center;
}

.header-section {
  width: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px;
  margin-bottom: 3rem;
  margin: 0 auto;
  margin-top: 5em;
}

@media screen and (max-width: 768px) {
  .header-section {
    width: 90%;
    padding: 8px;
  }
}